{% if forloop.first %}
  <div class="{% if layout >= 4 %} list {% endif %} post-item {% if layout == 4%} full {% endif %}col-sm-12 col-md-{{ cl_first }} {% if layout != 1 and layout != 4 and index == 1 %} even {% endif %}">    
   <div class="item">
    <div class="image-blog">
    <a href="{{ article.url }}" title="{{ article.title }}">
      <div class="pr_lazy_img lazyload item__position" data-bgset="{{ article.image.src | img_url: '1x1' }}" data-ratio="{{ article.image.aspect_ratio }}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" ></div>
      <div class="wrap-date">
        <div class="inner-date">
          <span class="day">{{ article.created_at | date: "%d" }}</span>
          <span class="month">{{ article.created_at | date: "%b" }}</span>
          {% comment %}<span class="year">{{ article.created_at | date: "%Y" }}</span>{% endcomment %}
        </div>
      </div>
    </a>
    </div> 
     <div class="post-info">  
       
       <div class="head head-article">
        <div class="blog"><span><a href="{{ blog.url }}">{{ blog.title }}</a></span></div>
         <div class="title_blog">
           <h3>
             <a href="{{ article.url }}" class="post-title">{{ article.title }}</a>
           </h3>  
         </div>
          <div class="wrap-author">
            <ul class="meta-post">
              <li class="author">{{ 'blogs.article.by_author' | t: author : "" }} <span><a href="#">: {{ article.author }}</a></span></li>   
              <li class="count-comment">
                {% if article.comments_count > 0 %}
                <span class="comment-qty">{% if article.comments_count > 1 %}{{ 'blogs.comments.comments_with_count.other' | t : count : article.comments_count }} {% else %} {{ 'blogs.comments.comments_with_count.one' | t : count : article.comments_count }} {% endif %}</span>
                {% endif %}
              </li>
                              
            </ul>
          </div>
       </div>
       <div class="main-info-post">
        <div class="excerpt-content">
           {% if article.excerpt.size > 0 %}
           {{ article.excerpt | strip_html | truncatewords: 50 }}         
           {% else %}
           <div class="des"><p>{{ article.content | strip_html | truncatewords: 70 }}</p></div>
           {% endif %}   
         </div>
         <div class="btn-readmore"><a href="{{ article.url }}"><span>{{ 'general.read_more_site.read_more' | t }}</span></a></div>       
       </div>
       
     </div>
     </div>
  </div>
{% else %}
  {% assign index = forloop.index | modulo: 2 %}
  <div class="{% if layout >= 4 %} list {% endif %} post-item {% if layout == 4%} full {% endif %}col-sm-12 col-md-{{ cl }} {% if layout != 1 and layout != 4 and index == 1 %} even {% endif %}">
    <div class="item">
    <div class="image-blog">
    <a href="{{ article.url }}">
      <div class="pr_lazy_img lazyload item__position" data-bgset="{{ article.image.src | img_url: '1x1' }}" data-ratio="{{ article.image.aspect_ratio }}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" ></div>
      <div class="wrap-date">
        <div class="inner-date">
          <span class="day">{{ article.created_at | date: "%d" }}</span>
          <span class="month">{{ article.created_at | date: "%b" }}</span>
          {% comment %}<span class="year">{{ article.created_at | date: "%Y" }}</span>{% endcomment %}
        </div>
      </div>
    </a>
    </div> 
     <div class="post-info">  
      
       <div class="head head-article">
        <div class="blog"><span><a href="{{ blog.url }}">{{ blog.title }}</a></span></div>
         <div class="title_blog">
           <h3>
             <a href="{{ article.url }}" class="post-title">{{ article.title }}</a>
           </h3>  
         </div>
         <div class="wrap-author">
          <ul class="meta-post">
            <li class="author">{{ 'blogs.article.by_author' | t: author : "" }} <span><a href="#">: {{ article.author }}</a></span></li>   
            <li class="count-comment">
              {% if article.comments_count > 0 %}
              <span class="comment-qty">{% if article.comments_count > 1 %}{{ 'blogs.comments.comments_with_count.other' | t : count : article.comments_count }} {% else %} {{ 'blogs.comments.comments_with_count.one' | t : count : article.comments_count }} {% endif %}</span>
              {% endif %}
            </li>
                            
          </ul>
         </div>
       </div>
       <div class="main-info-post">
        <div class="excerpt-content">
           {% if article.excerpt.size > 0 %}
           {{ article.excerpt | strip_html | truncatewords: 22 }}         
           {% else %}
           <div class="des"><p>{{ article.content | strip_html | truncatewords: 70 }}</p></div>
           {% endif %}   
         </div> 
         <div class="btn-readmore"><a href="{{ article.url }}"><span>{{ 'general.read_more_site.read_more' | t }}</span></a></div>      
       </div>
       
     </div>
    </div>
  </div>
{% endif %}
