{%- liquid
    assign limit = section.settings.limit
    assign blog = blogs[section.settings.blog]
    assign show_au = section.settings.show_au
    assign show_dt = section.settings.show_dt
    assign id = section.id 
    
    assign pd_top =section.settings.pd_top | plus: 0
    assign pd_bottom =section.settings.pd_bottom | plus: 0
    assign pd_right =section.settings.pd_right | plus: 0
    assign pd_left =section.settings.pd_left | plus: 0
    assign mg_top =section.settings.mg_top | plus: 0	
    assign mg_bottom =section.settings.mg_bottom | plus: 0
    
    assign mobile_pd_top =section.settings.mobile_pd_top | plus: 0
    assign mobile_pd_bottom =section.settings.mobile_pd_bottom | plus: 0
    assign mobile_pd_right =section.settings.mobile_pd_right | plus: 0
    assign mobile_pd_left =section.settings.mobile_pd_left | plus: 0
    assign mobile_mg_top =section.settings.mobile_mg_top | plus: 0	
    assign mobile_mg_bottom =section.settings.mobile_mg_bottom | plus: 0
    
    assign layout =section.settings.layout -%}
{%- assign layout_des = section.settings.layout_des -%}
{%- assign col_pr = section.settings.col_pr -%}

{% paginate blog.articles by limit %}   
<section class="laber_blog_style2_{{ id }}">
    <div class="container {% if layout == 'full-width' %}{{ layout }}{% endif %}">
      {% if section.settings.title != blank or section.settings.sub_title != blank %}
        <div class="wrap_title ">
         
          {% if section.settings.title != blank %}
              <h3 class="section-title">{{ section.settings.title }}</h3>  
          {% endif %}
           {% if section.settings.sub_title != blank %}
              <span class="section-subtitle">{{ section.settings.sub_title }}</span>
          {% endif %}
        </div>
      {% endif %}
      <div class="articles  row {% if layout_des == '2' %} blog-slider {% endif %}" data-slick='{"slidesToShow": {{ col_pr }}, "slidesToScroll":{{ col_pr }}, "lazyLoad": "ondemand", "autoplay": {{ section.settings.use_slideshow_autoplay }}, "autoplaySpeed": "{{ section.settings.autoplay_slide_time | times:1000 }}", "arrows": {{ section.settings.nav_enable}}, "dots":{{ section.settings.nav_dots}}, "pauseOnHover":{{ section.settings.pause_slide_hover }}, "infinite":{{ section.settings.loop }}}'>
          {%- if blog != blank -%}
            {%- for article in blog.articles -%}
        		{%- assign art_url = article.url -%}
                  <article class="post-item post_nt_loop col-lg-4 col-md-6 col-xs-12">  
                    <div class="item">
                    <div class="image-blog">
                    <a href="{{ article.url }}" title="{{ article.title }}">
                      <div class="pr_lazy_img laber_bg_lz lazyload item__position" data-bgset="{{ article.image.src | img_url: '1x1' }}" data-ratio="{{ article.image.aspect_ratio }}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" ></div>
                    </a>
                    </div> 
                    <div class="post-info">      
                      <div class="head head-article">
                         <div class="wrap-date">
                          <div class="inner-date">
                            <span class="month">{{ article.created_at | date: "%B" }}</span>,
                            <span class="day">{{ article.created_at | date: "%d" }}</span>
                            <span class="year">{{ article.created_at | date: "%Y" }}</span>
                          </div>
                        </div>
                        <div class="title_blog">
                            <h3>
                                <a href="{{ article.url }}" class="post-title">{{ article.title }}</a>
                          </h3>  
                        </div>
                        <div class="readmore">
                         <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} <i class="lnr lnr-arrow-right"></i></a>
                       </div>
                      </div>
                    </div>
                     </div>
                    
                  </article>	
        	{%- endfor -%}
          {%- else -%}
             {%- for i in (1..5) -%}
               <article class="post-item post_laber_loop col-lg-3 col-md-6 col-xs-12">
                 <div class="item">
                   <div class="image-blog">
                     {% assign no-img = "https://via.placeholder.com/580x580.png/b5b5b5?text=580x580" %}
                     <a href="/"><img class="lazyload" data-src="{{ no-img }}" alt="Best shopify theme"></a>
                   </div> 
                   <div class="post-info">      
                     <div class="head head-article">
                       <div class="wrap-date">
                         <div class="inner-date">
                           <span class="year">Feb</span>
                           <span class="day"> 05</span>,
                           <span class="month">2022</span>
                         </div>
                       </div>
                       <div class="title_blog">
                         <h3>
                           <a href="/" class="post-title">This Season’s ‘It’ Shoe Trend You Need to Try</a>
                         </h3>  
                       </div>
                       <div class="readmore">
                         <a href="/">{{ 'blogs.article.read_more' | t }} <i class="lnr lnr-arrow-right"></i></a>
                       </div>	
                     </div>
                   </div>
                 </div>
               </article>
             {%- endfor -%}
          {%- endif -%}
      </div>      
    </div>
</section>
 {% endpaginate %} 

{% style %}
	.laber_blog_style2_{{ id }}{
      	{% if mg_top != 0 %}margin-top:{{mg_top }}px;{% endif %} 
		{% if mg_bottom != 0 %}margin-bottom: {{ mg_bottom }}px ;{% endif %} 

		{% if pd_top != 0 %}padding-top:{{ pd_top }}px;{% endif %} 
        {% if pd_bottom != 0 %}padding-bottom:{{ pd_bottom }}px;{% endif %}
		{% if pd_right != 0 %}padding-right:{{pd_right }}px;{% endif %} 
        {% if pd_left != 0 %}padding-left:{{pd_left }}px;{% endif %} 
		background-color: {{ section.settings.cl_bg }};

	}

    @media (max-width: 767px) {
		.laber_blog_style2_{{ id }}{
          {% if mobile_mg_top != 0 %}margin-top:{{ mobile_mg_top }}px;{% endif %} 
          {% if mobile_mg_bottom != 0 %}margin-bottom: {{mobile_mg_bottom }}px ;{% endif %} 

          {% if mobile_pd_top != 0 %}padding-top:{{ mobile_pd_top }}px;{% endif %} 
          {% if mobile_pd_bottom != 0 %}padding-bottom:{{mobile_pd_bottom }}px;{% endif %} 
		  {% if mobile_pd_right != 0 %}padding-right:{{mobile_pd_right }}px;{% endif %} 
          {% if mobile_pd_left != 0 %}padding-left:{{mobile_pd_left }}px;{% endif %}
      	}
    }
{% endstyle %}

{%- schema -%}
  {
    "name": "Blog posts (Style 2)",
    "class": "laber_section blog-style2 type_carousel zoom_img",
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Tips & tricks"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Text"
      },     
      {
        "type": "header",
        "content": "== General Settings"
      },
      {
        "type": "select",
        "id": "layout_des",
        "options": [
          {
            "value": "1",
            "label": "Grid"
          },
          {
            "value": "2",
            "label": "Slider"
          }
        ],
        "label": "Layout design",
        "default": "1"
      },      
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
		{
        "type": "select",
        "id": "col_pr",
        "label": "Articles columns (desktop)",
        "info": "How many articles you want to show per row",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "range",
        "id": "limit",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Articles per page",
        "info": "Number of articles per page",
        "default": 3
      },      
      {
        "type": "checkbox",
        "id": "show_au",
        "label": "Show author?",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "show_cate",
        "label": "Show blogs",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_dt",
        "label": "Show date?",
        "default": true
      },
      {
        "type": "header",
        "content": "== Slider Settings",
		"info": "Only working when layout design is 'Slider'"
      },
      {
		"type": "checkbox",
        "id": "loop",
        "label": "Use Loop?",
        "info": "Infinity loop. Duplicate last and first items to get loop illusion.",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_slideshow_autoplay",
        "label": "Use autoplay for slider",
        "default": false
      },
      {
        "type": "range",
        "id": "autoplay_slide_time",
        "min": 1,
        "max": 30,
        "step": 0.5,
        "label": "Autoplay Speed in second.",
        "unit": "sec",
        "default": 5
      },        
      {
        "type": "checkbox",
        "id": "pause_slide_hover",
        "label": "Pause Autoplay On Hover?",
        "info": "Auto-playing will pause when the user hovers over the carousel.",
        "default": true
      },        
      {
        "type": "header",
        "content": "== Prev Next Button, Page Dot Settings"
      },        
      {
        "type": "paragraph",
        "content": "Prev Next Button: "
      },
      {
        "type": "checkbox",
        "id": "nav_enable",
        "label": "Enable Prev Next Button?",
        "info": "Creates and enables previous & next buttons.",
        "default": true
      },  
      {
        "type": "checkbox",
        "id": "nav_dots",
        "label": "Enable dots?",
        "info": "The dot identifies the address for each item show.",
        "default": false
      }, 
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "full-width",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
      },
	  {
        "type": "header",
        "content": "== Margin",
		"info": "Margin top,  Padding bottom. If you not use to blank"
      },
      {
        "type": "range",
        "id": "mg_top",
        "label": "Margin top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mg_bottom",
        "label": "Margin bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "header",
        "content": "== Padding",
		"info": "Padding top, Padding bottom. If you not use to blank"
      },	
      {
        "type": "range",
        "id": "pd_top",
        "label": "Padding top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "range",
        "id": "pd_right",
        "label": "Padding right",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },	
      {
        "type": "range",
        "id": "pd_bottom",
        "label": "Padding bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "range",
        "id": "pd_left",
        "label": "Padding left",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "header",
        "content": "== Setting mobile",
		"info": "Padding and Margin"
      },
	 {
        "type": "range",
        "id": "mobile_mg_top",
        "label": "Margin top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_mg_bottom",
        "label": "Margin bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "range",
        "id": "mobile_pd_top",
        "label": "Padding top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "range",
        "id": "mobile_pd_right",
        "label": "Padding right",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },	
      {
        "type": "range",
        "id": "mobile_pd_bottom",
        "label": "Padding bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "range",
        "id": "mobile_pd_left",
        "label": "Padding left",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      }
		
		
    ],
    "presets": [
      {
        "name": "2. Blog posts (Style 2)",
        "category": "Blog "
      }
    ]
  }
{% endschema %}
