<div class="password-content">
    <h1 class="site-header__logo">{{- shop.name -}}</h1>
    
    <h2 class="password-content__title">{{ section.settings.heading }}</h2>
    <p>{{ section.settings.content }}</p>
  {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
     <p class="form-row">
        {%- assign formId = 'PasswordNewsletterForm' -%}
        <input type="hidden" name="contact[tags]" value="prospect, password page">
     </p>

    {%- if form.posted_successfully? -%}
      <p class="form-message form-message--success" tabindex="-1" data-form-status>
        <i class="las la-check"></i> {{ section.settings.signup_form_success | escape }}
      </p>
    {%- endif -%}
  
    <div class="input-group{% if form.errors %} input-group--error{% endif %}">
        <input
          required="required"
          type="email"
          name="contact[email]"
          id="{{ formId }}-email"
          class="input-group__field tc {% if form.errors contains 'email' %} input--error{% endif %}"
          placeholder="{{ section.settings.newsletter_placeholder | escape }}"
          {%- if form.errors contains 'email' -%}
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            data-form-status
          {%- endif -%}
       >
      <span class="input-group__btn">
        <button type="submit" name="commit" class="button button_primary">
          <span>{{ section.settings.newsletter_button_text | escape }}</span>
        </button>
      </span>
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="{{ formId }}-email-error" class="input-error-message">
        <i class="facl facl-attention cr mr__5"></i>
        <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
      </span>
    {%- endif -%}

  {% endform %}
  {%- if section.settings.social == '1' -%}<div class="wrapper_social">{%- render 'social-sharing', class_tooltip: 'ttip_nt tooltip_top' -%}</div>
  {%- elsif section.settings.social == '2' -%}<div class="wrapper_social">{%- render 'social-sharing', follow_social: true, class_tooltip: 'ttip_nt tooltip_top' -%}</div>{%- endif -%}
</div>

{%- schema -%}
  {
    "name": "Password",
    "class": "container text-center",
     "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Coming Soon!"
      },
      {
        "type": "text",
        "id": "content",
        "label": "Content",
        "default": "We are about to go public so be sure to root on us and check back in anytime!<br> Can't wait to have you!"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Your email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Notify me"
      },
      {
        "type": "text",
        "id": "signup_form_success",
        "label": "Signup form success",
        "default": "We will send you an email right before we open!"
      },
      {
        "type": "select",
        "id": "social",
        "options": [
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "1",
            "label": "Share"
          },
          {
            "value": "2",
            "label": "Follow"
          }
        ],
        "label": "___ Social: ",
        "default": "2"
      }
     ]
  }
{% endschema %}