{%- assign show_label_in_stock = settings.product_collection_show_label_in_stock -%}
{%- assign show_label_out_stock = settings.product_collection_show_label_out_stock -%}
{%- assign show_label_sale = settings.product_collection_show_label_sale -%}
{%- assign show_label_new =  settings.product_collection_show_label_new -%}
{%- assign show_label_hot =  settings.product_collection_show_label_hot -%}
{%- assign show_countdown = false | default: settings.product_collection_show_countdown -%}
{%- assign show_images_navigation = true | default: settings.product_collection_show_images_navigation -%}
{%- assign show_title = settings.product_collection_show_title -%}
{%- assign show_sku = settings.product_collection_show_sku -%}
{%- assign show_barcode =  settings.product_collection_show_barcode -%}
{%- assign show_availability =  settings.product_collection_show_availability -%}
{%- assign show_type = settings.product_collection_show_type -%}
{%- assign show_vendor = settings.product_collection_show_vendor -%}
{%- assign show_description = settings.product_collection_show_description -%}
{%- assign show_price = settings.product_collection_show_price -%}
{%- assign show_options = settings.product_collection_show_options -%}
{%- assign show_custom_options =  settings.product_show_custom_options -%}
{%- assign show_quantity = false | default: settings.product_collection_show_quantity -%}
{%- assign show_button_add_to_cart = settings.product_collection_show_button_add_to_cart -%}
{%- assign show_button_add_to_wishlist = settings.product_collection_show_button_add_to_wishlist -%}
{%- assign show_button_add_to_compare =  settings.product_collection_show_button_add_to_compare -%}
{%- assign show_button_quick_view = settings.product_collection_show_button_quick_view -%}
{%- assign show_reviews = settings.product_collection_show_reviews -%}
{%- assign hide_reviews_counter = settings.product_collection_hide_reviews_counter -%}
{% assign enable_hover_image = settings.product_collection_enable_hover_image %}
{% assign build_variant = "all" %}

{% assign sid = section.id %}
{%- assign dy_txt =section.settings.dy_txt %}
{%- assign br_txt =section.settings.br_txt %}
{%- assign image_brand_big =section.settings.image_brand_big %}

{% liquid
  assign collection = section.settings.collection
  assign products = collections[collection].products 
  assign row_num =section.settings.row_num
  assign col_pr =section.settings.col_pr | plus: 0
  assign max_count = col_pr | times: row_num
  
  if col_pr == 5
    assign col = 15
  else
    assign col = 12 | divided_by: col_pr
  endif
-%}

{%- for i in (1..1) -%}
  {% if section.settings.image_right_product_big %}<div class="image-div"><div class="image">{{ section.settings.image_right_product_big | img_tag }}</div></div>{% endif %}

  <section class="laber_section_{{ sid }} ">
    <div class="container {% if section.settings.layout == "full-width" %}{{ section.settings.layout }}{% endif %}">
    <div class="products-arrivals">	
    <div class="medizin_laypout">
      <div class="row">
      <div class="products_countdown  col-lg-12 col-md-12 col-sm-12">
        <div class="section-content">
      <div class="row" >
          {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                  {%- when 'product' -%}
                  {%- liquid
                    assign product = all_products[block.settings.product]
                    assign show_stock_bar = section.settings.show_stock_bar
                    assign total = block.settings.total
                    assign available = block.settings.available
                    assign show_countdown = section.settings.show_countdown
                    assign cd_txt = section.settings.cd_txt
                    assign year_count_down =block.settings.year_count_down
                    assign month_count_down =block.settings.month_count_down
                    assign day_count_down =block.settings.day_count_down
                    assign ck_noPr = false 
                  -%}
                  {% if product != blank %}
                    <div class="col-12">
                      {% include 'product_style_big' with product: product show_countdown: show_countdown cd_txt: cd_txt year_count_down: year_count_down month_count_down: month_count_down day_count_down: day_count_down  show_stock_bar: show_stock_bar  total: total available: available dy_txt:dy_txt br_txt:br_txt image_brand_big:image_brand_big %}                
                    </div>
                  {%- else -%}
                  <div class="col-12">
                    <div class="grid__item">
                      <div class="product-inner">
                        <div class="product-image">
                            <a href="/admin/products" class="product__image-wrapper">
                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </a>
                        </div>
                      </div>
                      <div class="product-info">
                        <div class="year-design">DESIGNED 2020</div>
                        <div class="product__title"><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t | capitalize }}</a></div>
                        <div class="product__price">$19.99</div>
                        <div class="product__description">BRAND With a rich company history spanningback to 1968, Calvin Klein originally started life as a coatstore in New York City. The now iconic label, famed for their minimalist approach, offers up covetable diffusion lines CK by Calvin Klein and...</div>
                      </div>
                    </div>
                  </div>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          {%- else -%}
            <div class="shopify-info no-products"><i class="flash fa fa-exclamation-triangle" aria-hidden="true"></i>{{ 'collections.general.no_pro_count' | t }}</div>
          {%- endif -%}
      </div>
        </div>
      </div>
      
      </div>
    </div>
    </div>
    </div>
  </section>

{% assign cl_bg = section.settings.cl_bg %}
{% assign mg_top = section.settings.mg_top %}
{% assign mg_bottom = section.settings.mg_bottom %}
{% assign pd_top = section.settings.pad_top %}
{% assign pd_bottom = section.settings.pad_bottom %}
{% assign mobile_mg_top = section.settings.mobile_mg_top %}
{% assign mobile_mg_bottom = section.settings.mobile_mg_bottom %}
{% assign mobile_pd_top = section.settings.mobile_pd_top %}
{% assign mobile_pd_bottom = section.settings.mobile_pd_bottom %}
{% assign status_bg = section.settings.status_bg %}
{% assign sold_bg = section.settings.sold_bg %}
{% assign color_border = section.settings.color_border %}



{%- style -%}
	.laber_section_{{ sid }}{
      {% if mg_top != 0 %}margin-top:{{mg_top }}px;{% endif %} 
      {% if mg_bottom != 0 %}margin-bottom:{{ mg_bottom }}px;{% endif %} 
      {% if pd_top != 0 %}padding-top:{{ pd_top }}px;{% endif %} 
      {% if pd_bottom != 0 %}padding-bottom:{{ pd_bottom }}px;{% endif %} 
      background-color:{{ cl_bg }};
	}
	{% if color_border %}
	.laber_section_{{ sid }} .products_countdown .section-content {
		border-color:{{ color_border }} !important;
	}
	{% endif %}
	.laber_section_{{ sid }} .loop-product-stock .status-bar{
		background-color:{{ status_bg }};
	}
	.laber_section_{{ sid }} .loop-product-stock .status-bar .sold-bar{
		background-color:{{ sold_bg }};
	}
    @media (max-width: 767px) {
      .laber_section_{{ sid }}{
        {% if mobile_mg_top != 0 %}margin-top:{{ mobile_mg_top }}px;{% endif %} 
        {% if mobile_mg_bottom != 0 %}margin-bottom:{{mobile_mg_bottom }}px;{% endif %} 
        {% if mobile_pd_top != 0 %}padding-top:{{ mobile_pd_top }}px;{% endif %} 
        {% if mobile_pd_bottom != 0 %}padding-bottom:{{mobile_pd_bottom }}px;{% endif %} 
      }
    }
{%- endstyle %}
{%- endfor -%}






{%- schema -%}
  {
    "name": "Products big",
    "class": "cms_section type_countdown product_section products_collection_big type_carousel",
	"max_blocks": 20,
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "id": "image_right_product_big",
        "type": "image_picker",
        "label": "Add image"
      },
      {
        "type": "text",
        "id": "dy_txt",
        "label": "Design year",
        "default": "Designed 2019"
      },
      {
        "type": "text",
        "id": "br_txt",
        "label": "Brand title",
        "default": "Brand: "
      },
      { 
        "type": "image_picker",
        "id": "image_brand_big",
        "label": "Add image brand"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },   
      {
        "type": "select",
        "id": "layout",
        "default": "container",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "full-width",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
      },
        {
          "type": "range",
          "id": "mg_top",
          "label": "Margin Top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mg_bottom",
          "label": "Margin bottom",
          "default": 100,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "pad_top",
          "label": "Padding Top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "pad_bottom",
          "label": "Padding bottom",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "== Setting mobile",
          "info": "Padding and Margin"
        },
       {
          "type": "range",
          "id": "mobile_mg_top",
          "label": "Margin top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_mg_bottom",
          "label": "Margin bottom",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_pd_top",
          "label": "Padding top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_pd_bottom",
          "label": "Padding bottom",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        }
    ],
	"blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
          "type": "header",
          "content": "== countdown Time"
          },
          {
          "type": "text",
          "id": "year_count_down",
          "label": "Year of countdown",
          "default": "2022"
          },
          {
          "type": "text",
          "id": "month_count_down",
          "label": "Month of countdown",
          "default": "12"
          },
          {
          "type": "text",
          "id": "day_count_down",
          "label": "Day of countdown",
          "default": "30"
          },
          {
            "type": "range",
            "id": "total",
            "min": 1,
            "max": 100,
            "step": 1,
            "label": "Total Stock: ",
            "unit": "qty",
            "default": 100
          },
          {
            "type": "range",
            "id": "available",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Available Stock: ",
            "unit": "qty",
            "default": 15
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Products big",
        "category": "Collections"		
      }
    ]
  }
{% endschema %}
