{% if section.settings.home_page_only == false or template.name == 'index' %}
{% if section.settings.header_use_top_header %}
<div class="topbar layout1" {% if section.settings.show_border_bottom %}style="border-bottom: 1px solid rgb(0,0,0,.2);" {% endif %}>
  <div class="container {% if section.settings.layout == 'full-width' %}{{ section.settings.layout }} {% endif %}">
    <div class="row">
      
      <div class="announcement-bar">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        	{%- when 'contac_header' -%} 
        		{% assign col = block.settings.col %}
        		{% assign text_align = block.settings.text_align %}
        		<div class="{{ text_align }} col-lg-{{ col }} col-12 col-md-12">
                  <div class="top_contac">
                    <ul>
                      {% if  block.settings.phone_number != blank %}<li>{{ block.settings.phone_number}}</li>{% endif %}
                      {% if  block.settings.header_email != blank %}<li>{{ block.settings.header_email}}</li>{% endif %}
                      {% if  block.settings.store_ocation != blank %}<li>{{ block.settings.store_ocation}}</li>{% endif %}
                    </ul>
                  </div>
                </div>
        	{%- when 'message' -%} 
        		{% assign col = block.settings.col %}
        		{% assign text_align = block.settings.text_align %}
                	<div class="wrapper-bar-message {{ text_align }} col-lg-{{ col }} col-12 col-md-12">
                      <p class="announcement-bar__message">
                        {{ block.settings.message_text }}
                        <a href="{{ block.settings.message_link }}" style="color:{{ block.settings.color_link }}" class="shop_now"> {{ 'general.top_header.shop_now' | t }}</a>
                      </p>
                    </div>
        	{%- when 'top_header_3' -%} 
        		{% assign col = block.settings.col %}
        		{% assign text_align = block.settings.text_align %}
        		<div class="{{ text_align }} col-lg-{{ col }} col-12 col-md-12">
                    <ul class="menu-language parent-list">
                      {% if block.settings.header_use_currency %}
                        {% if shop.published_locales.size > 0 %}
                            {% assign showFlag = settings.show_flag %}
                            {% assign showRoundFlag = settings.show_round_flag %}
                            <li class="item-list shop-language language-shop {% if showFlag %}show-flag{% endif %}{% if showRoundFlag %} show-round-flag{% endif %}" data-title="{{ 'general.multi_shop.language_label' | t }}"
                                data-language-flag-map='{"en" : "gb"}'>
                              <a data-code="{{ shop.locale }}" href="javascript:void(0);" class="item-active toggle-tab-body">
                                {% if showFlag %}
                                  <img class="flag" src="" data-src="{{ shop.locale | prepend: 'flag_' | append: '.png' | asset_url }}" />
                                {% endif %}
                                <span class="current">{{ shop.locale | upcase }}</span></span>
                                <span class="icon"><i class="fa fa-angle-down"></i></span>
                              </a>
                              <ul class="child-list list-unstyled dropdown">
                                {% for locale in shop.published_locales %}
                                  <li data-code="{{ locale.iso_code }}" class="{{ locale.iso_code }}{% if locale.iso_code == shop.locale %} active{% endif %}{% if locale.primary %} primary{% endif %}">
                                      <a data-code="{{ locale.iso_code }}" href="javascript:void(0);" class="language-code">
                                        {% if showFlag %}<img class="flag" src="" data-src="{{ locale.iso_code | prepend: 'flag_' | append: '.png' | asset_url }}" />{% endif %}
                                        <span class="name" style="display:none">{{ locale.name }}</span>
                                        <span class="code">{{ locale.iso_code | upcase }}</span>
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </li>
                          {% endif %}
                      {% endif %}
                        {% if block.settings.header_use_language %}
                          <li class="item-list language-shop">
                            <a href="javascript:void(0);" class="toggle-submenu">     
                              <span>ENG</span>    
                              <span class="icon"><i class="fa fa-angle-down"></i></span>
                            </a>
                        </li>
                      {% endif %}
                    </ul> 
                    {% assign type_social = block.settings.type_social | plus: 0 %}
                    {% if block.settings.header_use_social %}
                      	
                        {%- if type_social == 1 -%}
                          {% include 'social_link' %}
                        {%- else -%}
                            {% include 'social-sharing' %}
                        {%- endif -%}
                    {% endif %}
                  </div>
        	{%- when 'top_header_4' -%} 	
        		{% assign col = block.settings.col %}
        		{% assign text_align = block.settings.text_align %}
        		<div class="{{ text_align }} col-lg-{{ col }} col-12 col-md-12">
                    <ul class="topbar-menu">
                        {% assign handle = block.settings.menu_topbar %}     
                        {% for link in linklists[handle].links %}
                            <li><a href="{{ link.url }}"> {{ link.title }} </a></li>
                        {% endfor %}
                    </ul>
        		   </div>	
        
        {%- endcase -%}
        {%- endfor -%}
        
        
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% style %}
	{% liquid
      assign bg_top_header = section.settings.bg_top_header
      assign cl_text = section.settings.cl_text
      assign cl_text_h = section.settings.cl_text_h 
   %}
	.cms-top-header .topbar{
		background-color:{{ bg_top_header }};
	}
	.cms-top-header .topbar .laber-social-sharing label,
	.cms-top-header .topbar .laber-social-sharing ul li a,
	.cms-top-header .topbar .announcement-bar .top_contac ul li,
	.parent-list .item-list>a,
	.cms-top-header .topbar .announcement-bar .list-socials li a,
	.cms-top-header .wrapper-bar-message .announcement-bar__message,
	.cms-top-header .topbar .announcement-bar .top_contac ul li a{
		color:{{ cl_text }}
	}
	.cms-top-header .topbar .laber-social-sharing ul li a:hover,
	.parent-list .item-list>a:hover,
	.cms-top-header .topbar .announcement-bar .list-socials li a:hover,
	.cms-top-header .topbar .announcement-bar .top_contac ul li a:hover{
		color:{{ cl_text_h }}
	}
{% endstyle %}
{% schema %}
  {
    "name": "Top header",
    "class": "cms-top-header",
    "settings": [
		{
          "type": "header",
          "content": "General settings"
        },
        {
          "type": "checkbox",
          "id": "header_use_top_header",
          "label": "Show top header",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "home_page_only",
          "label": "Home page only",
          "default": true
        },
               
		{
          "type": "select",
          "id": "layout",
          "default": "full-width",
          "options": [
           {
              "value": "container",
              "label": "Container"
           },
           {
              "value": "full-width",
              "label": "Full Width"
            }
          ],
          "label": "Layout"
        },
		{
          "type": "header",
          "content": "Design"
        },
		{
          "type": "checkbox",
          "id": "show_border_bottom",
          "label": "Show border bottom",
          "default": true
        },
        {
          "type": "color",
          "id": "bg_top_header",
          "label": "Background color",
          "default": "#f5f5f5"
        },
		{
          "type": "color",
          "id": "cl_text",
          "label": "Color text",
          "default": "#777"
        },
		{
          "type": "color",
          "id": "cl_text_h",
          "label": "Color hover",
          "default": "#343e45"
        }
	],
	"blocks": [
		{
          "type": "contac_header",
          "name": "Top contac header",
          "limit": 1,
          "settings": [
              {
              "type": "text",
              "id": "phone_number",
              "default": "<i class=\"lnr lnr-phone-handset\"></i><span>+391 (0)35 2568 4593</span>",
              "label": "Phone number"
              },
			 {
              "type": "text",
              "id": "header_email",
              "default": "<i class=\"lnr lnr-envelope\"></i><a href=\"mailto:hello@domain.com\"><span>hello@domain.com</span></a>",
              "label": "Email"
              },
			  {
              "type": "text",
              "id": "store_ocation",
              "default": "<i class=\"lnr lnr-map-marker\"></i> <a class=\"#\"><span>Store Location</span></a>",
              "label": "Store Location"
              },
				{
                "type": "select",
                "id": "text_align",
                "default": "topbar-left",
                "options": [ 
                {
                  "value": "topbar-left",
                  "label": "Left"
                },
                {
                  "value": "topbar-center",
                  "label": "center"
                },
                {
                  "value": "topbar-right",
                  "label": "Right"
                }
                ],
                  "label": "text align: "
              },
              {
                "type": "select",
                "id": "col",
                "default": "4",
                "options": [
                {
                  "value": "1",
                  "label": "1/12 (8.333333%)"
                },
                {
                  "value": "2",
                  "label": "2/12 (16.666667%)"
                },
                {
                  "value": "3",
                  "label": "3/12 (25%)"
                },
                {
                  "value": "4",
                  "label": "4/12 (33.333333%)"
                },
                {
                  "value": "6",
                  "label": "6/12 (50%)"
                },
                {
                  "value": "7",
                  "label": "7/12 (58.333333%)"
                },
                {
                  "value": "8",
                  "label": "8/12 (66.666667%)"
                },
                {
                  "value": "9",
                  "label": "9/12 (75%)"
                },
                {
                  "value": "10",
                  "label": "10/12 (83.333333%)"
                },
                {
                  "value": "11",
                  "label": "11/12 (91.666667%)"
                },
                {
                  "value": "12",
                  "label": "12/12 (100%)"
                }
                ],
                  "label": "Width col: "
              }
          ]
        },
		{
          "type": "message",
          "name": "Announcement bar",
          "limit": 1,
          "settings": [
              {
                "type": "text",
                "id": "message_text",
                "label": "Announcement text",
                "default": "Free Delivery over £40 to most of UK*"
              },
              {
                "type": "url",
                "id": "message_link",
                "label": "Announcement link",
                "info": "Optional"
              },
			  {
                "type": "select",
                "id": "text_align",
                "default": "topbar-left",
                "options": [ 
                {
                  "value": "topbar-left",
                  "label": "Left"
                },
                {
                  "value": "topbar-center",
                  "label": "center"
                },
                {
                  "value": "topbar-right",
                  "label": "Right"
                }
                ],
                  "label": "text align: "
              },	
              {
                "type": "select",
                "id": "col",
                "default": "4",
                "options": [
                {
                  "value": "1",
                  "label": "1/12 (8.333333%)"
                },
                {
                  "value": "2",
                  "label": "2/12 (16.666667%)"
                },
                {
                  "value": "3",
                  "label": "3/12 (25%)"
                },
                {
                  "value": "4",
                  "label": "4/12 (33.333333%)"
                },
                {
                  "value": "6",
                  "label": "6/12 (50%)"
                },
                {
                  "value": "7",
                  "label": "7/12 (58.333333%)"
                },
                {
                  "value": "8",
                  "label": "8/12 (66.666667%)"
                },
                {
                  "value": "9",
                  "label": "9/12 (75%)"
                },
                {
                  "value": "10",
                  "label": "10/12 (83.333333%)"
                },
                {
                  "value": "11",
                  "label": "11/12 (91.666667%)"
                },
                {
                  "value": "12",
                  "label": "12/12 (100%)"
                }
                ],
                  "label": "Width col: "
              },
              {
              "type": "color",
              "id": "color_link",
              "label": "Link color",
              "default": "#e60023"
              }
          ]
        },
		{
          "type": "top_header_3",
          "name": "currency,language,social",
          "limit": 1,
          "settings": [
               {
                "type": "checkbox",
                "id": "header_use_currency",
                "label": "Display currency on top bar",
                "default": true
              },
              {
                "type": "checkbox",
                "id": "header_use_language",
                "label": "Display language on top bar",
                "default": true
              },

              {
                "type": "header",
                "content": "Social settings"
              },
              {
                "type": "checkbox",
                "id": "header_use_social",
                "label": "Display social on top bar",
                "default": true,
                "info": "Note: you can edit social at 'Theme settings' -> 'Social media'"
              },
			  {
               "type": "select",
               "id": "type_social",
               "label": "Show sharing Or link: ",
               "options": [
                 {
                   "value": "1",
                   "label": "Social link"
                 },
                 {
                   "value": "2",
                   "label": "Social sharing"
                 }
               ],
               "default": "2"
              },
				{
                "type": "select",
                "id": "text_align",
                "default": "topbar-left",
                "options": [ 
                {
                  "value": "topbar-left",
                  "label": "Left"
                },
                {
                  "value": "topbar-center",
                  "label": "center"
                },
                {
                  "value": "topbar-right",
                  "label": "Right"
                }
                ],
                  "label": "text align: "
              },	
              {
                "type": "select",
                "id": "col",
                "default": "4",
                "options": [
                {
                  "value": "1",
                  "label": "1/12 (8.333333%)"
                },
                {
                  "value": "2",
                  "label": "2/12 (16.666667%)"
                },
                {
                  "value": "3",
                  "label": "3/12 (25%)"
                },
                {
                  "value": "4",
                  "label": "4/12 (33.333333%)"
                },
                {
                  "value": "6",
                  "label": "6/12 (50%)"
                },
                {
                  "value": "7",
                  "label": "7/12 (58.333333%)"
                },
                {
                  "value": "8",
                  "label": "8/12 (66.666667%)"
                },
                {
                  "value": "9",
                  "label": "9/12 (75%)"
                },
                {
                  "value": "10",
                  "label": "10/12 (83.333333%)"
                },
                {
                  "value": "11",
                  "label": "11/12 (91.666667%)"
                },
                {
                  "value": "12",
                  "label": "12/12 (100%)"
                }
                ],
                  "label": "Width col: "
              }
          ]
        },
		{
          "type": "top_header_4",
          "name": "Topbar menu",
          "limit": 1,
          "settings": [
              {
                "type": "link_list",
                "id": "menu_topbar",
                "label": "Add topbar menu"
              },
				{
                "type": "select",
                "id": "text_align",
                "default": "topbar-left",
                "options": [ 
                {
                  "value": "topbar-left",
                  "label": "Left"
                },
                {
                  "value": "topbar-center",
                  "label": "center"
                },
                {
                  "value": "topbar-right",
                  "label": "Right"
                }
                ],
                  "label": "text align: "
              },
              {
                "type": "select",
                "id": "col",
                "default": "4",
                "options": [
                {
                  "value": "1",
                  "label": "1/12 (8.333333%)"
                },
                {
                  "value": "2",
                  "label": "2/12 (16.666667%)"
                },
                {
                  "value": "3",
                  "label": "3/12 (25%)"
                },
                {
                  "value": "4",
                  "label": "4/12 (33.333333%)"
                },
                {
                  "value": "6",
                  "label": "6/12 (50%)"
                },
                {
                  "value": "7",
                  "label": "7/12 (58.333333%)"
                },
                {
                  "value": "8",
                  "label": "8/12 (66.666667%)"
                },
                {
                  "value": "9",
                  "label": "9/12 (75%)"
                },
                {
                  "value": "10",
                  "label": "10/12 (83.333333%)"
                },
                {
                  "value": "11",
                  "label": "11/12 (91.666667%)"
                },
                {
                  "value": "12",
                  "label": "12/12 (100%)"
                }
                ],
                  "label": "Width col: "
              }
          ]
        }
		
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
